.action-cards{
	padding-bottom: 20px;
	.text-title{
		margin-bottom: 20px;
	}
.action-card{
	border-radius: 30px;
	position: relative;
	padding: 40px 46px;
	min-height: 237px;
	@media (max-width: 767px) {
		padding: 40px 25px;
	}
	
}
.action-card__text{
	height: 98px;
	overflow: hidden;
	margin-bottom: 10px;
	max-width:340px;
	@media (max-width: 991px) {
		max-width:400px;
		height: auto;
		min-height: 100px;
	}
}
.action-cards-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	row-gap: 30px;
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		column-gap: 30px;
		row-gap: 30px;
	}
}
.action-card.action-card--first{
	background-color: #FFD058;
	.action-card__img{
		position: absolute;
		z-index: 2;
		right: 27px;
		bottom: 0;
		width: 204px;
		@media (max-width: 1199px) {
			display: none;
		}
	}
	.text-bold{
		font-size: 36px;
		line-height: 33px;
		color: #000000;
	}
}
.action-card.action-card--last{
	overflow: hidden;
	background-image: url('../img/action-cardBlue.jpg');
	background-position: left top;
	background-repeat: no-repeat;
}
}