.article-page{
	.section-header p{
		color: #C2BEBE;
	}
	.section-header{margin-bottom: 40px;}
	.article-page-item{
		p{
			font-weight: 300;
			font-size: 22px;
			line-height: 25px;
			color: #000000;
			&+p{
				margin-top: 1em;
			}
		}
		img{
			float: left;
			margin-top: -60px;

		}
	}
	@media (max-width: 767px) {
	.article-page-item {
		img {
			float: unset;
			display: block;
			margin-top: 0px;

		}
		p+p {
			margin-top: 2px;
		}
	}
	}
}

.one-article-text{
	.text-23{
		color:#C2BEBE;
	}
	.article-text-wrapper{
		overflow: hidden;
		p{
			margin-bottom: 24px;
			font-weight: 300;
			font-size: 22px;
			line-height: 27px;
			color: #000000;
		}
	}
}