.benefits{
	padding-top: 44px;
	padding-bottom: 63px;
	background-color: #C6DADB;
	.section-header__button--mobile{
		margin-top: 26px; max-width: 400px;
		
		@media(max-width:767px){
			.button{width: 100%;}
			
			display: block;
		}
	}
	.title-2{
		text-align: center;
		margin-bottom: 30px;
		font-weight: 800;
		font-size: 32px;
		color: rgba(0, 0, 0, 0.9);
	}
	.benefits-card{
		width: 270px;
		text-align: center;

		&__icon{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: #fff;
			margin-left: auto;
			margin-right: auto;
			flex-shrink: 0;
		}
		&__title h3{
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #00859C;
			padding-top: 16px;
		}
		&__text p{
			font-size: 19px;
			line-height: 22px;
			color: #000000;
			padding-top: 14px;
		}
		.button{
			margin-top: 60px;
			width: 100%;
			max-width: 270px;;
		}
	}
}
.benefits-wrapper{
	
	@media (max-width: 991px) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		.benefits-card{
			display: flex;
			width: 100%;
			text-align: left;
			align-items: center;
			&+.benefits-card {margin-top: 44px;}
			
			&__title h3{
			padding-top: 0;
			font-size: 24px;
			}
			&__icon {
				width: 80px;
				height: 80px;
				margin-right: 35px;
				margin-left: 0;
			}
			&__text p{
			
			font-size: 19px;
			}
			&__body{
				width: 330px;
			}
			.button { 
				width: 200px;
				margin-top: 0;
				margin-left: 40px;
			}
		}
	}

	@media (max-width: 767px) {
		.benefits-card {
			&+.benefits-card {
				margin-top: 16px;
			}
			&__title h3 {
				font-size: 20px;
				line-height: 23px;
			}
			&__text{display: none;}
			&__body {
				width:auto;
			}
			&__icon {
				width: 54px;
				height: 54px;
				background-color:transparent;
				margin-right: 17px;
			}
			.button{display: none;}
		}
	}
}
