.sertificate{
	.swiper-sertificate{overflow: hidden;}
	.gallery-inner{
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		
		display: flex;
		flex-wrap: wrap;
		
		@media (max-width: 767px) {
		flex-wrap: nowrap;
		}
		.swiper-slide {
			width: 267px;
			margin-left: 25px;
			margin-right: 25px;
			margin-bottom: 30px;
		}
	}
}