/*============ЗЕЛЕНЫЙ БЛОК СОЦСЕТИ==========*/
.social-block__content {
	background: #C6DADB;
	border-radius: 30px;
	padding: 45px 65px;
	@media (max-width: 991px) {
		flex-direction: column;
		padding: 30px;
	}
	.social-block__text{
		width: 50%;
		max-width: 570px;
		@media (max-width: 991px) {
			width: 100%;
			
		}
	}
	.social-block__titile{
		font-weight: bold;
		font-size: 37px;
		line-height: 45px;
		letter-spacing: -0.01em;
		margin-bottom: 26px;
		color: #000000;
		@media (max-width: 991px) {
			font-size: 23px;
			line-height: 28px;
		}
	}
	
}
.social-block__icons{
	width: 45%;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 991px) {
		width: 100%;
		justify-content: center;
		margin-top: 40px;
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			line-height: 113%;
			letter-spacing: -0.01em;

			color: #06323E;
			p:first-child{
				min-height: 44px;
				margin-bottom: 10px;
			}
		}
		a+a{
			margin-left: 60px;
			@media (max-width: 767px) {
				margin-left: 30px;
			}
		}
	}
}