.timeline{
	padding-bottom: 54px;
	background-color: #F8F8F9;
}
.timeline-content{
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}
.timeline-item{
	position: relative;
	width: 50%;
	padding-left: 100px;
	padding-top: 24px;
	padding-right: 50px;
	height: 270px;
	@media(max-width:991px) {
	padding-left: 65px;
	height: 230px;
	}
	@media(max-width:767px) {
		
		padding-top: 56px;
		height:auto;
		width: 100%;
		&+.timeline-item{margin-top: 25px;}
	}
	
	h5{
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: #00859C;
		margin-bottom: 10px;
	}
	span{
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		color: #fff;
		background-color: #F39C98;
		position: absolute;
		top: 35px;
		right:-22px;
		text-align: center;
		line-height: 45px;
		@media(max-width:767px) {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		
	}
	&:after{
		content:'';
		width:90px;
		height: 90px;
		background-image: url('../img/icons/sun.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		left: 0;
		top: 0;
		@media(max-width:991px) {
			width: 60px;
			height: 60px;
			top: 25px;
		}
		@media(max-width:767px) {
		
			top: 45px;
		}
	}
	&:before{
		content: '';
		width: 2px;
		position: absolute;
		bottom: 0;
		top: 0;
		right: -1px;
		background-color: #F39C98;
		@media(max-width:767px) {
			display: none;
		}
	}
}
.timeline-item:nth-child(2n){
	margin-left: auto;
	padding-left: 155px;
	&:after{
		left: 60px;
		@media(max-width:991px) {
			left: 40px;
		}
			@media(max-width:767px) {
				left: 0;
			}
	}
	@media(max-width:991px) {
		padding-left: 100px;
	}
	@media(max-width:767px) {
		padding-left: 65px;
		margin-left: 0;
	}
}
.timeline-item:first-child {
	@media(min-width:1200px){
		height: 300px;
	}
}
.timeline-item:first-child:before {
	top:40px;
}
.timeline-item:nth-child(2n):before {
	right: auto;
	left: -1px;
}
.timeline-item:nth-child(2n) span{
	right: auto;
	left: -22px;
	top:23px;
	@media(max-width:767px){
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.timeline-item:nth-child(3) {
	
	height: 190px;
	@media(max-width:767px) {
		height: auto;
	}
}
.timeline-item:nth-child(3):before {
	bottom:60px;
	
	
}
.timeline-item:nth-child(3) span {
	top: auto;
	bottom:60px;
	@media(max-width:767px) {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}