.working-regime{
	padding-bottom: 62px;
	.section-header__title {
		margin-bottom: 62px;
	}
	.text-23{
		p span{
			font-weight: bold;
			font-size: 24px;
			line-height: 113%;
			color: #00859C;
			padding-right: 7px;
		}
		a{
			font-size: 20px;
			line-height: 113%;
			border-bottom: 1px solid #5E5E5E;
			color: #5E5E5E;
		}
	}
}
.colorBg-block {
	padding: 45px;
	
	border-radius: 30px;
	background-color:#00859C;
	position: relative;
	.colorBg-block-img {
		position: absolute;
		bottom: 0;
		width: 228px;
		left: -35px;
		z-index: 2;
	}
	.colorBg-block-left {
		padding-right: 30px;
		
	}
	.colorBg-block-right {
		width: 263px;
	}
	.colorBg-block-left__top {
		p{
			font-weight: bold;
			font-size: 22px;
			line-height: 27px;
			
			color: #F8F8F9;
			&+p{
				font-weight:600 ; 
				font-size: 17px;
				line-height: 27px;
				color:#37F1F4;
				margin-top: 10px;
			
			}
		}
	}

	.colorBg-block-left__bottom {
		margin-top: 20px;
		p {
			font-size: 20px;
			line-height: 25px;
			color: #FFFFFF;
		}

	}

	.colorBg-block-time {
		p{
			font-size: 20px;
			line-height: 1.15;
			color: #FFFFFF;
			font-family: 'Roboto',sans-serif;
		}
	}
	.colorBg-block-btn {
		margin-top: 30px;
	}
}
@media (max-width: 991px) {
	.colorBg-block {
		padding: 40px;
	}
	.colorBg-block-img {
		display: none;
	}
}
@media (max-width: 767px) {
	.working-regime{margin-bottom: 24px;}
	.working-regime .section-header__title {
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 24px;
		.text-23 a {display: inline-block; padding-top: 6px;}
	}
	.colorBg-block {
		flex-direction: column;
		padding: 30px;
		padding-left: 30px;
		
		justify-content: center;
		align-items: center;
		.colorBg-block-img {
		position: relative;
		width: 173px;
		margin-top: 24px;
		left: auto;
		display: block;
		}
		.colorBg-block-left {
			padding-right: 0;
		}
		.colorBg-block-right {
			margin-top: 24px;
		}
	}
}
.working-regime-content  {
	 .colorBg-block {
		padding-left: 245px;
	}
	@media (max-width: 1199px) {
		 .colorBg-block {
			padding-left: 220px;
		}

		.colorBg-block-img {
			left: -15px;
		}
	}
	@media (max-width: 991px) {
		.colorBg-block {
			padding-left: 30px;
		}
	}
	@media (max-width: 767px) {
		.colorBg-block {
			padding-bottom: 0;padding-left: 30px;
		}
	}
}
.service-colorBlock .colorBg-block{
	align-items: center;
	.colorBg-block-btn{
		margin-top: 0;
	}
}
.service-colorBlock .colorBg-block-left {
	display: flex;
	flex-grow:2;
	justify-content: space-between;
	align-items: center;
	@media(max-width:1199px){
		flex-direction: column;
		align-items: flex-start;
	}
	@media(max-width:767px) {
		align-items: center;
	}
}
.service-colorBlock .colorBg-block-left__top ,
.service-colorBlock  .colorBg-block-left__bottom {
	max-width: 400px;
	width: 55%;
	@media(max-width:1199px){
		width: 100%;
	}
}
.service-colorBlock .colorBg-block-left__bottom {
	margin-top: 0;
	width: 41%;
	
	@media(max-width:1199px){
		width: 100%;
		margin-top: 24px;
	}
}
.service-colorBlock .colorBg-block-left__top {
	p+p{
		font-size: 23px;
		line-height: 27px;
		color: #37F1F4;
		@media(max-width:1199px){
		font-size: 20px;
		font-weight: 24px;	
		}
		
	}
}
.service-colorBlock .colorBg-block-btn,
.service-colorBlock .colorBg-block-right,
.service-colorBlock  button{
	@media(max-width:767px){
	width: 100%;	
	}
}
.service-colorBlock{
	.colorBg-block-left__top p{
		font-weight: bold;
		font-size: 27px;
		line-height: 32px;
		@media(max-width:1199px) {
			font-size: 23px;
			line-height: 27px;
		}
	}
}
.service-colorBlock {
	.colorBg-block-left__bottom p {
		font-weight: 500;
		font-size: 21px;
		line-height: 113%;
		color: #F8F8F9;

		@media(max-width:1199px) {
			font-size: 18px;
			line-height: 20px;
		}
	}
}
.colorBg-block-left__top {
	ul{
		display: flex;
		margin-top: 24px;
		flex-wrap:wrap;
		@media(max-width:767px) {
			flex-wrap: nowrap;
			flex-direction: column;
		}
	li {
		font-size: 23px;
		line-height: 27px;
		margin-bottom: 6px;
		color: #37F1F4;
		margin-right: 24px;
		@media(max-width:1199px) {
			font-size: 20px;
			font-weight: 24px;
		}
		@media(max-width:767px) {
			margin-right: 0;
			&+li{
				margin-top: 16px;
			}
			
		}

	}}
}
.check-list li{
	position: relative;
	
	&:before{
		content: '\2714';
		color: #fff;
		margin-right: 5px;
		// position: absolute;
	}
}