//=================== about us ===============
section.about
	.container
		.section-header__title.text-center
			h2.title-2 Информация о клинике
		.about-content.d-flex
			.about-content__list.basic-list
				ul
					li Лечение сколиоза
					li Лечение взрослых
					li Реабилитолог
					li ЛФК
					li Лечение сколиоза
					li Лечение взрослых
					li Реабилитолог
					li ЛФК
			.about-content__slider
				.swiper-about
					.swiper-wrapper
						.swiper-slide
							.slider-img
								img(src="./img/document.jpg", width="540"  alt="alt")
						.swiper-slide
							.slider-img
								img(src="./img/document.jpg", width="540"  alt="alt")
						.swiper-slide
							.slider-img
								img(src="./img/document.jpg", width="540"  alt="alt")
						.swiper-slide
							.slider-img
								img(src="./img/document.jpg", width="540"  alt="alt")
					//========navigation buttons======
					.about-swiper-pagination.center-pagination
					.swiper-button-prev.custom-arrow
					.swiper-button-next.custom-arrow