//===============ВОПРОСЫ-ОТВЕТЫ МОБ ВЕРСИЯ АККОРДЕОН ============
section.faq-accordeon
	.container
		.accordeon-group
			//=== один вопрос============
			.accordeon-item
				.accordeon-item-header(data-name='accordeon-title')
					h3 Почему я не могу начать с других методов?
				.accordeon-item-content.loock.hidden
					.accordeon-item__text
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
						
					.accordeon-item__img
						img(src="./img/img.jpg", width="495"  alt="alt")
			
			//=== один вопрос============
			.accordeon-item
				.accordeon-item-header(data-name='accordeon-title')
					h3 Как носить корсет в офисе?
				.accordeon-item-content.loock.hidden
					.accordeon-item__text
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
						
					.accordeon-item__img
						img(src="./img/img.jpg", width="495"  alt="alt")
			
			//=== один вопрос============
			.accordeon-item
				.accordeon-item-header(data-name='accordeon-title')
					h3 Как привыкать к корсету Шено?
				.accordeon-item-content.loock.hidden
					.accordeon-item__text
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
						
					.accordeon-item__img
						img(src="./img/img.jpg", width="495"  alt="alt")
//=============== КОНЕЦ ВОПРОСЫ-ОТВЕТЫ МОБ ВЕРСИЯ АККОРДЕОН ============