section.action-cards
	.container
		.action-cards-wrapper
			.action-card.action-card--first
				.action-card__text
					.text-title
						p Онлайн-консультация
					.text-bold 
						p 0 &#8381;
				.action-card__btn
					a(href="#!").button.button-slim--orange Записаться
				.action-card__img
					img(src="./img/action-card.png", width="204" alt="img")
			.action-card.action-card--last
				.action-card__text
					.text-title
						p Новые акции
					.text-24
						p Выбирайте подходящую
				.action-card__btn
					a(href="#!").button.button-slim--orange Записаться