//=================СТАТЬИ ===============
section.articles
	.container
		.section-header.d-flex
			.section-header__title
				h2.title-2 Статьи ведущих врачей ОРТО-МЕД
				.text-23
					p объясняем медицину просто
			.section-header__button
				a(href="article-page.html").button Все статьи
		.articles-swiper
			.articles-content.swiper-wrapper
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Личные истории, длинное название в две строки
							p Симптомы страдающего тазобедренного сустава, это описание может быть на две или более строк текста.
						
						a(href="#").button.button-slim--orange Читать
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Личные истории, длинное название в две строки
							p Симптомы страдающего тазобедренного сустава, это описание может быть на две или более строк текста.
						
						a(href="#").button.button-slim--orange Читать
					
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Личные истории, длинное название в две строки
							p Симптомы страдающего тазобедренного сустава, это описание может быть на две или более строк текста.
						
						a(href="#").button.button-slim--orange Читать
			.articles-swiper-pagination
		//=====mobile-button ======
		.section-header__button--mobile
			a(href="#").button Все статьи
//================= КОНЕЦ СЕКЦИИ ==========*/