//=================СЕКЦИЯ А ЕЩЕ МОЖНО =================
section.benefits
	.container
		.section-header__title
			h2.title-2 А еще можно
		.benefits-wrapper.d-flex
			//====one card =======
			.benefits-card
				.benefits-card__icon
					img(src="./img/icons/sun.png", width="100" alt="alt")
				.benefits-card__body
					.benefits-card__title
						h3 Получить справку в&nbsp;ФСС
					.benefits-card__text
						p и упростить весь путь оформления документов на инвалидность
				a(href="#").button.button-slim--dark Подробнее
			
			//====one card =======
			.benefits-card
				.benefits-card__icon
					img(src="./img/icons/sun.png", width="100" alt="alt")
				.benefits-card__body
					.benefits-card__title
						h3 Пригласить&nbsp;врача&nbsp;в&nbsp;свой город
					.benefits-card__text
						p и упростить весь путь оформления документов на инвалидность
				a(href="#").button.button-slim--dark Подробнее
			
			//====one card =======
			.benefits-card
				.benefits-card__icon
					img(src="./img/icons/sun.png", width="100" alt="alt")
				.benefits-card__body
					.benefits-card__title
						h3 Получить рассрочку на&nbsp;лечение
					.benefits-card__text
						p и упростить весь путь оформления документов на инвалидность
				a(href="#").button.button-slim--dark Подробнее
		
		//======= mobile button==========
		.section-header__button--mobile
			a(href="#").button.button-slim--dark Подробнее

//=================КОНЕЦ СЕКЦИЯ А ЕЩЕ МОЖНО =================

