section.blockquote
	.container
		.section-header__title.text-center
			h2.title-2 Честное ценообразование без переплат
		
		.blockquote-content.d-flex
			.blockquote__text.text-18
				p Не следует, однако забывать, что начало повседневной работы по формированию позиции требуют определения и уточнения соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация.


			.blockquote__img
				.persone-block
					.persone-block__img.img-round
						img(src="./img/doctor.jpg", width="196" alt="img")
					.persone-block__title
						h4 Крохалев Никита Владимирович
						p врач - ортопед, ортезист
		//=====Преимущества ======
		.about-benefits
			.decore-text
				p.text-18 Работаем более 20 лет 
				span.text-18 c 1998 года
			.decore-text
				p.text-18 Собственное производство 
				span.text-18  ортезов, обуви и стелек
			.decore-text
				p.text-18 Успешно изготовили 
				span.text-18  более 3 млн ортопедических изделий
	