//======== ЗАДАЙТЕ ВОПРОС ===========
section.activity-direction
	.container
		.section-header.d-flex
			.section-header__title
				h2.title-2 Выберите свой вопрос
				.text-23
					p лечение детей и взрослых
			.section-header__button
				a(href="#").button Все услуги
		
		//============color card ==========
		.direction-block
			a(href="usluga.html" target="_blank").direction-card
				p Лечение позвоночника
			a(href="#" target="_blank").direction-card
				p Лечение ДЦП
			a(href="#" target="_blank").direction-card
				p Ортопедия при травмах
			a(href="#" target="_blank").direction-card
				p Лечение диабетической стопы
			a(href="#" target="_blank").direction-card
				p Индивидуальная обувь
			a(href="#" target="_blank").direction-card
				p Стельки и вкладные пособия
			a(href="#" target="_blank").direction-card
				p Лечение детей раннего возраста
			a(href="#" target="_blank").direction-card
				p Лечение взрослых
		.section-header__button--mobile
			a(href="#").button Все услуги
//================= КОНЕЦ СЕКЦИИ ==========*/
