//=================ВОПРОСЫ И ОТВЕТЫ ================
section.faq
	.container
		.faq-tabs#faqTabs
			.faq-tabs__arrow#faqArrow
			.faq-tabs__buttons-block
				.faq-tabs__buttons.swiper-wrapper
					button.faq-tabs__btn.swiper-slide(data-role="1") Почему я не могу начать с других методов?
					button.faq-tabs__btn.swiper-slide(data-role="2") Как носить корсет в офисе?
					button.faq-tabs__btn.swiper-slide(data-role="3") Как привыкать к корсету Шено?
					button.faq-tabs__btn.swiper-slide(data-role="4") Еще один  четвертый вопрос
					button.faq-tabs__btn.swiper-slide(data-role="5") Еще один какой-то пятый вопрос
				

			.faq-tabs-wrapper
				.faq-tabs__content.active(data-content="1")
					.faq-content__text
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
						p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
					.faq-content__img
						img(src="./img/img.jpg", width="495"  alt="alt")
				.faq-tabs__content(data-content="2")
					h1 content 2

//================= END ВОПРОСЫ И ОТВЕТЫ ================