//========FEEDBACK==========
section.feedback
	.container
		.feedback-content.d-flex
			.feedback-img(style="background-image: url(./img/feedback.jpg)")
			.feedback-form
				.feedback-form-header
					.form-title Записывайтесь на прием и подбор ортопедического изделия	
					p Наши операторы проконсультируют вас и подберут удобное время приёма
				form.contact-form(action="" method="")
					.form-group
						input(type="text" name="user_name" required placeholder="Имя")
					.form-group
						input(type="text" name="user_phone" required placeholder="Телефон" )
					.form-btn
						button.button.button-big--dark(type="submit") Записаться на прием
