footer.footer
	.container
		.footer-content.d-flex
			.footer-column
				.footer-logo Орто-Мед
				.footer-menu
					ul
						li
							a(href="#!") Направления
						ul
							li
								a(href="#!")
							li
								a(href="#!")
							li
								a(href="#!") Первичная консультация врача
							li
								a(href="#!") Безоперационное лечение позвоночника
							li
								a(href="#!") Ортопедическая коррекция и восстановление при травмах
							li
								a(href="#!") Ортопедическая коррекция и реабилитация при ДЦП
							li
								a(href="#!") Лечение заболеваний ОДА у детей раннего возраста
							li
								a(href="#!") Лечение заболеваний ОДА у детей среднего возраста
							li
								a(href="#!") Лечение заболеваний ОДА у взрослых
							li
								a(href="#!") Лечение диабетической стопы
							li
								a(href="#!") Индивидуальная ортопедическая обувь
							li
								a(href="#!") Ортопедические стельки и вкладные пособия
							li
								a(href="#!") Получение технических средств реабилитации
							li
								a(href="#!") Ортопедический интернет магазин Ортолэнд

			.footer-column.d-flex
				.footer-column-block.d-flex
					.footer-menu
						ul
							li
								a(href="#!") Врачи 
							li
								a(href="#") Адреса клиник
							li
								a(href="#") Информация для пациентов
							li
								a(href="#") Акции
							li
								a(href="#") Цены
							li
								a(href="#") Статьи о здоровье
							li
								a(href="#") Обратная связь
							li
								a(href="#") Работа в ОРТО-МЕД
							li
								a(href="#") О клинике
							li
								a(href="#") Информация для врачей
					.footer-buttons.contacts-block
						.contacts-block-phone
							a(href="#") 8 (800) 301-43-74
						button.button.button-slim--white Перезвоните мне
						button.button.button-slim--orange Online-консультация
				.footer-copyright
					p © 2021. ОртоМед. Все права защищены. 
					p Внимательная медицина с подтвержденной эффективностью