header.header
	.header-top
		.container
			.header-content
				a(href="index.html").logo
					img(src="./img/logo.png", width='224' alt="logo")
				.header-buttons
					a(href="tel:88003014374" ).phone-link 8 (800) 301-43-74
					button.button.button-small Перезвоните мне
					button.button.button-small--orange Online-консультация