section.history
	.container
		.history-content
			//==========history-item =============
			.history-content__item.truncate-item
				.history-content__year 2005
				h2.head-2 Заголовок конкретной даты
				p.min-text Современный многопрофильный медицинский центр, в котором можно получить широкий спектр врачебных услуг по направлениям: неврология (взрослая и детская), терапия, травматология, гинекология, урология, кардиология, ортопедия, педиатрия, офтальмология, гастроэнтерология, эндокринология, дерматология, отоларингология (ЛОР), психология, пульмонология и другие.
				span.dashed-link Весь отзыв
			//==========history-item =============
			.history-content__item.truncate-item
				.history-content__year 2005
				h2.head-2 Заголовок конкретной даты
				p.min-text Современный многопрофильный медицинский центр, в котором можно получить широкий спектр врачебных услуг по направлениям: неврология (взрослая и детская), терапия, травматология, гинекология, урология, кардиология, ортопедия, педиатрия, офтальмология, гастроэнтерология, эндокринология, дерматология, отоларингология (ЛОР), психология, пульмонология и другие.
				span.dashed-link Весь отзыв
			//==========history-item =============
			.history-content__item.truncate-item
				.history-content__year 2005
				h2.head-2 Заголовок конкретной даты
				p.min-text Современный многопрофильный медицинский центр, в котором можно получить широкий спектр врачебных услуг по направлениям: неврология (взрослая и детская), терапия, травматология, гинекология, урология, кардиология, ортопедия, педиатрия, офтальмология, гастроэнтерология, эндокринология, дерматология, отоларингология (ЛОР), психология, пульмонология и другие.
				span.dashed-link Весь отзыв