//===============Статьи наших врачей =============
section.library
	.container
		.section-header.d-flex 
			.section-header__title
				h2.title-2 Статьи ведущих врачей ОРТО-МЕД
				.text-23
					p объясняем медицину просто
			.section-header__button 
				a(href="#").button Все статьи
		.swiper-library
			.library-wrapper.swiper-wrapper
				//=======карточка одной статьи ========
				.swiper-slide
					a(href="#!").library-item
						.library-item__img
							img(src="./img/library1.jpg", alt="alt")
						.library-item__text
							.text-24.text-bold 
								p Личные истории
							.text-17
								p Страдающий тазобедренный сустав
				//=======карточка одной статьи ========
				.swiper-slide
					a(href="#!").library-item
						.library-item__img
							img(src="./img/library2.jpg", alt="alt")
						.library-item__text
							.text-24.text-bold 
								p День заботы о себе
							.text-17
								p Страдающий тазобедренный сустав
				//=======карточка одной статьи ========
				.swiper-slide
					a(href="#!").library-item
						.library-item__img
							img(src="./img/library3.jpg", alt="alt")
						.library-item__text
							.text-24.text-bold 
								p Как сделать живот
							.text-17
								p Страдающий тазобедренный сустав
			.swiper-library-pagination
		
		//=====mobile-button ======
		.section-header__button--mobile
			a(href="#").button Все статьи