//=====toggle mob menu ======
.menu-toggle
	span
//==============MOB MENU=============
.header-menu
	ul
		// пункт меню  с подменю 
		li.drop-menu.drop-menu_2
			a(href="#!") Направления
			span.drop-icon
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu.drop-menu_3
						a(href="#!") Лечение позвоночника
						span.drop-icon
						// третий уровень 
						.submenu.submenu-3
							ul
								li
									a(href="#!") Лечение сколиоза у детей
								li
									a(href="#!") Лечение сколиоза у взрослых
								li
									a(href="#!") Корсет Шено
								li
									a(href="#!") Лечебная гимнастика
					
					li.drop-menu.drop-menu_3
						a(href="#!") Лечение позвоночника
						span.drop-icon
						// третий уровень 
						.submenu.submenu-3
							ul
								li
									a(href="#!") Лечение сколиоза у детей
								li
									a(href="#!") Лечение сколиоза у взрослых
								li
									a(href="#!") Корсет Шено
								li
									a(href="#!") Лечебная гимнастика
					li.drop-menu.drop-menu_3
						a(href="#!") Лечение позвоночника
						span.drop-icon
						// третий уровень 
						.submenu.submenu-3
							ul
								li
									a(href="#!") Лечение сколиоза у детей
								li
									a(href="#!") Лечение сколиоза у взрослых
								li
									a(href="#!") Корсет Шено
								li
									a(href="#!") Лечебная гимнастика
					li.drop-menu.drop-menu_3
						a(href="#!") Лечение позвоночника
						span.drop-icon
						// третий уровень 
						.submenu.submenu-3
							ul
								li
									a(href="#!") Лечение сколиоза у детей
								li
									a(href="#!") Лечение сколиоза у взрослых
								li
									a(href="#!") Корсет Шено
								li
									a(href="#!") Лечебная гимнастика
		
		li
			a(href="#!") Врачи
		
		li
			a(href="#!") Адреса
			
		li
			a(href="#!") Для пациентов
		li
			a(href="#!") Для врачей
		li.last-item
			a(href="#!") Все разделы
	
	//====строка поиска=====
	.search-block-mobile
		form.search-form-mobile(action="" method="method")
			.form-group
				input.border-field(type="text" placeholder="Поиск по сайту")
			.form-btn
				button(type='submit')

	//====тел + кнопки=====
	.contacts-block
		.contacts-block-phone
			a(href="#") 8 (800) 301-43-74
		button.button.button-slim--white Перезвоните мне
		button.button.button-slim--orange Online-консультация