section.offices-benefits
	.container
		//=====Преимущества ======
		.about-benefits
			.decore-text
				p.text-18 Удобные парковки и пандусы
				span.text-18 всегда встречают сотрудники
			.decore-text
				p.text-18 Возможность вызвать врача
				span.text-18 в свой город
			.decore-text
				p.text-18 Ведет прием 
				span.text-18 в разных городах России