section.one-doctor-content
	.container
		//=====Преимущества ======
		.about-benefits
			.decore-text
				p.text-18 Опыт работы
				span.text-18 25 лет
			.decore-text
				p.text-18 Самостоятельно моделирует
				span.text-18 ортопедичесие изделия
			.decore-text
				p.text-18 Ведет прием 
				span.text-18 в разных городах России

		//===== информация о враче ======		
		.one-doctor-info.d-flex
			.one-doctor-info__left
				p.text-28 Крохалев Владимир Юрьевич - главный врач ортопед и директор клиники ОРТО-МЕД в Челябинске
				p.text-22 Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
			.one-doctor-info__right
				.scroll-block
					.basic-list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
//=======EDUCATION =========
section.education
	.container
		.section-header__title.text-center
			h2.title-2 Образовательный путь
		//============accordeon==============
		.diff-accordeon
			.accordeon-group
				.accordeon-group-item
					input#acor1(type='radio' name='acor' checked='checked')
					label.accordeon-item-header(for='acor1') Лечение сколиоза
					.accordeon-item-content
						.accordeon-item__text
							p Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
						.accordeon-item__img
							.about-content__slider
								.swiper-about
									.swiper-wrapper
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
									//========navigation buttons======
									
									.swiper-button-prev.custom-arrow
									.swiper-button-next.custom-arrow
				.accordeon-group-item
					input#acor2(type='radio' name='acor')
					label.accordeon-item-header(for='acor2') Лечение остеохондроза
					.accordeon-item-content
						.accordeon-item__text
							p Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
						.accordeon-item__img
							.about-content__slider
								.swiper-about
									.swiper-wrapper
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
									//========navigation buttons======
									
									.swiper-button-prev.custom-arrow
									.swiper-button-next.custom-arrow
				.accordeon-group-item
					input#acor3(type='radio' name='acor')
					label.accordeon-item-header(for='acor3') Реабилитолог
					.accordeon-item-content
						.accordeon-item__text
							p Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
						.accordeon-item__img
							.about-content__slider
								.swiper-about
									.swiper-wrapper
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
										.swiper-slide
											.slider-img
												img(src="./img/document.jpg", width="540"  alt="alt")
									//========navigation buttons======
									
									.swiper-button-prev.custom-arrow
									.swiper-button-next.custom-arrow
		
		//=========== цветной блок ==========
section.one-doctor-colorBlock
	.container
		.colorBg-block.d-flex
			.colorBg-block-left
				.colorBg-block-left__top
					p Первый приём - это:
					.check-list
						ul
							li ЛФК
							li Лечение сколиоза
							li Лечение взрослых
					
				
			.colorBg-block-right
				.colorBg-block-btn
					button.button.button-slim--orange Записаться на приём
//=============  оставить отзыв ===========
section.review.pb-60
	.section-header__title.text-center
			h2.title-2 Врач глазами пациентов
	.container
		+review-item
		+review-item
		+review-item
		.center-button
			button.button.button--orange Оставить отзыв