section.partners
	.container
		.section-header__title.text-center
			h2.title-2 Наши партнеры
		.partners-wrapper.d-flex
			.partner-logo
				img(src="./img/partner1.png",width="115"  alt="alt")
			.partner-logo
				img(src="./img/partner2.png", width="115" alt="alt")
			.partner-logo
				img(src="./img/partner3.png", width="115" alt="alt")
			.partner-logo
				img(src="./img/partner1.png", width="115" alt="alt")
			.partner-logo
				img(src="./img/partner2.png", width="115" alt="alt")