//======== PINK SOCIAL ==========
section.pink-social.pb-50
	.container
		.pink-social-content.d-flex
			.pink-social__text
				p Больше статей и&nbsp;полезных советов
			.round-social
				a(href="#")
					img(src="./img/icons/inst.png", width="57" alt="alt")
				a(href="#")
					img(src="./img/icons/vk2.png", width="57" alt="alt")
				a(href="#")
					img(src="./img/icons/yout.png",width="57"  alt="alt")