section.service-prices.price.pb-60
	.container
		//==========большой блок услуги========
		.service-prices__block
			//=========цветной блок ==========
			.service-colorBlock
				.colorBg-block.d-flex
					.colorBg-block-left
						.colorBg-block-left__top
							p Консультация врача-ортопеда
							p Вводный прием — всего 500&nbsp;₽
						.colorBg-block-left__bottom
							p Записывайтесь прямо сейчас и начинайте лечение со скидкой
					.colorBg-block-right
						.colorBg-block-btn
							button.button.button-slim--orange Записаться на приём
			//========= блок с ценами ==========
			.price-cards-wrapper
				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием

				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием
		//==========большой блок услуги========
		.service-prices__block
			//=========цветной блок ==========
			.service-colorBlock
				.colorBg-block.d-flex
					.colorBg-block-left
						.colorBg-block-left__top
							p Лечение сколиоза
							p Вводный прием — всего 500&nbsp;₽
						.colorBg-block-left__bottom
							p Записывайтесь прямо сейчас и начинайте лечение со скидкой
					.colorBg-block-right
						.colorBg-block-btn
							button.button.button-slim--orange Записаться на приём
			//========= блок с ценами ==========
			.price-cards-wrapper
				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием

				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием