//=================PRICE ================
section.price
	.container
		.price-content
			.section-header.d-flex
				.section-header__title
					h2.title-2 Цены
				.section-header__button
					a(href="#").button Все цены

			.price-cards-wrapper
				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием

				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием

				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием

				//======PRICE CARD ========
				.price-card
					h4 Комплексный прием врача ортопеда
					p 1 200 ₽
					.dashed-link Что входит в стоимость?
					.price-card__list
						ul
							li комплексный осмотр 
							li ортопедические тесты 
							li профилактические рекомендации 
							li план лечения
						a(href="#").red-text Что взять с собой на прием
			//=====mobile-button ======
			.section-header__button--mobile
				a(href="#").button Все цены