section.products
	.container
		.swiper-products
			.products-wrapper.swiper-wrapper
				.swiper-slide
					.products-card.d-flex
						.products-card__text
							.text-box
								h3 Ортопедическая обувь ORFEYA
								p Loren ipsum на пару строк на пару строк

							a(href="#").button.button-slim--orange Подробнее
						.products-card__img
							img(src="./img/product.jpg", width="205" alt="alt")
				.swiper-slide
					.products-card.d-flex
						.products-card__text
							.text-box
								h3 Ортопедические изделия для профилактики ORFEYA
								p Loren ipsum на пару строк на пару строк

							a(href="#").button.button-slim--orange Подробнее
						.products-card__img
							img(src="./img/product.jpg", width="205" alt="alt")
			.swiper-products-pagination