//==============НОВОСТИ=============
section.promo-result
	.container
		.section-header__title.text-center
			h2.title-2 Новости
		//=====блок с карточками ======
		.swiper-result
			.result-cards.swiper-wrapper
				//========одна карточка ====
				.swiper-slide.result-card
					.result-card__img
						img(src="./img/result.jpg", width="568" alt="img")
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Результаты наших пациентов
							span Срок акции: 31/08/2021 
						.button.button-small--orange Участвовать
				//========одна карточка ====
				.swiper-slide.result-card
					.result-card__img
						img(src="./img/result.jpg", width="568" alt="img")
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Результаты наших пациентов
							span Срок акции: 31/08/2021 
						.button.button-small--orange Участвовать
			.swiper-result-pagination

//==============АКЦИИ=============
section.articles.articles--promo
	.container
		.section-header
			.section-header__title.text-center
				h2.title-2 Акции
		//=====блок с карточками	
		.articles-swiper2
			.articles-content.swiper-wrapper
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Восстановление при ДЦП
							p Советы врачей
							span Срок акции: 31/08/2021
						a(href="#").button.button-slim--orange Участвовать
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Восстановление при ДЦП
							p Советы врачей
							span Срок акции: 31/08/2021
						a(href="#").button.button-slim--orange Участвовать
					
				//==== карточка статьи==========
				.swiper-slide
					.article-card
						.article-card__img
							img(src="./img/article.jpg", width="360" alt="alt")
						.article-card__text
							h3 Восстановление при ДЦП
							p Советы врачей
							span Срок акции: 31/08/2021
						a(href="#").button.button-slim--orange Участвовать
			.articles-swiper-pagination
		//=====mobile-button ======
		.section-header__button--mobile
			a(href="#").button Все статьи
//================= КОНЕЦ СЕКЦИИ ==========*/
