section.product-photo
	.container
		.section-header__title.text-center
			p.title-2 Изучите детали ортопедического изделия
			.text-23
				p Крутите и разворачивайте изделие
			.product-photo-img
				img(src="../img/3d/1.png", alt="img")
			.product-benefits
				p Специальные мягкие вставки подмышками