//==============НОВОСТИ=============
section.promo-result
	.container
		.section-header__title.text-center
			h2.title-2 Новости
		//=====блок с карточками ======
		.swiper-result
			.result-cards.swiper-wrapper
				//========одна карточка ====
				.swiper-slide.result-card
					.result-card__img
						img(src="./img/result.jpg", width="568" alt="img")
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Результаты наших пациентов
							span Срок акции: 31/08/2021 
						.button.button-small--orange Участвовать
				//========одна карточка ====
				.swiper-slide.result-card
					.result-card__img
						img(src="./img/result.jpg", width="568" alt="img")
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Результаты наших пациентов
							span Срок акции: 31/08/2021 
						.button.button-small--orange Участвовать
			.swiper-result-pagination