//=====Секция ОСНОВНАЯ ЦЕЛЬ ========
section.purpose
	.container
		.section-header__title.text-center
			h2.title-2 Основные цели ношения корсета Шено
		
		.color-cards
			//==== одна карточка ======
			.color-card
				.color-card__title
					p Уменьшение градуса искривления
				.color-card__text
					p До закрытия точек роста<br> (18-20 лет) хорошая динамика наблюдается и при 3-4 степени сколиоза
			//==== одна карточка ======
			.color-card
				.color-card__title
					p Визуально ровная<br>спина
				.color-card__text
					p При прогрессирующем сколиозе есть вероятность ношения корсета после исправления дуги
			//==== одна карточка ======
			.color-card
				.color-card__title
					p Визуально ровная<br>спина
				.color-card__text
					p Это лишь области искривления: верхнегрудной, грудной, поясничный.