section.promo-result
	.container
		.section-header__title.text-center
			h2.title-2 Новости
		//=====блок с карточками ======
		.swiper-result
			.result-cards.swiper-wrapper
				//========одна карточка ====
				+result-card('Читать', 'Ежедневно большую часть нашего времени занимают бытовые задачи и обязанности, забота о семье и близких, собственные неотложные дела, выполнение обязательств забота о семье и близких, собственные неотложные дела, выполнение обязательств...')
				//========одна карточка ====
				+result-card('Читать', 'Ежедневно большую часть нашего времени занимают бытовые задачи и обязанности, забота о семье и близких, собственные неотложные дела, выполнение обязательств забота о семье и близких, собственные неотложные дела, выполнение обязательств...')
			.swiper-result-pagination

section.therapy-articles
	.container
		.therapy-articles-wrapper
			//====== one card =======
			a(href="#!").therapy-articles-card
				.result-card
					.result-card__img
						img(src="./img/library1.jpg", width="720" alt="img")
						.card-labels
							span Советы врача
							span Лечение
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Восстановление при ДЦП
							span  31/08/2021
						.button.button-small--orange Читать
			//====== one card =======
			a(href="#!").therapy-articles-card
				.result-card
					.result-card__img
						img(src="./img/library1.jpg", width="720" alt="img")
						.card-labels
							span Советы врача
							span Лечение
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Восстановление при ДЦП
							span  31/08/2021 
						.button.button-small--orange Читать
			//====== one card =======
			a(href="#!").therapy-articles-card
				.result-card
					.result-card__img
						img(src="./img/library1.jpg", width="720" alt="img")
						.card-labels
							span Советы врача
							span Лечение
					.result-card__body.d-flex
						.result-card-text
							.title-bold
								p Восстановление при ДЦП
							span  31/08/2021 
						.button.button-small--orange Читать