section.sertificate
	.container
		.section-header__title.text-center
			h2.title-2 Нормативно-правовые документы
		.swiper-sertificate
			.gallery-inner.swiper-wrapper
				.swiper-slide
					a(href='img/doc1.png' data-fancybox='gallery')
						img(src='img/doc1.png'  alt='img')
				.swiper-slide
					a(href='img/doc1.png'   data-fancybox='gallery')
						img(src='img/doc1.png' alt='img' )
				.swiper-slide
					a(href='img/doc1.png'  data-fancybox='gallery')
						img(src='img/doc1.png' alt='img' width="267")
				.swiper-slide
					a(href='img/doc1.png'  data-fancybox='gallery')
						img(src='img/doc1.png' alt='img' width="267")
				.swiper-slide 	
					a(href='img/doc1.png'  data-fancybox='gallery')
						img(src='img/doc1.png' alt='img' width="267")
				.swiper-slide
					a(href='img/doc1.png'  data-fancybox='gallery')
						img(src='img/doc1.png' alt='img' width="267")
			.swiper-sertificate-pagination
		.center-button
			a(href="#!").button Все сертификаты