.main-banner
	.container
		.main-banner-content.d-flex
			//======TEXT=====
			.main-banner__text
				h1.title-1 Здесь идёт какое-то название статьи
				.main-banner__info.d-flex
					.info-book
						p 117 прочтений
					.info-stopwatch
						p 17 минут
				
				
			//======IMAGE=====
			.main-banner__img
				.img-round
					img(src="./img/header/article.jpg", width="429" alt="img")