section.social-block
	.container
		.social-block__content.d-flex
			.social-block__text
				.social-block__titile
					p Не знаете, с чего начать?
				.text-24
					p Задайте свой вопрос врачу клиники<br> в любом удобном мэссенджере бесплатно
			.social-block__icons
				nav
					a(href="#")
						p
							img(src="./img/icons/tg.png", width="58"  alt="alt")
						p Telegram
					a(href="#")
						p
							img(src="./img/icons/vk.png", width="60"  alt="alt")
						p Вконтакте
					a(href="#")
						p
							img(src="./img/icons/vb.png", width="50"  alt="alt")
						p Viber
