section.team
	.container
		.team-content
			.section-header.d-flex
				.section-header__title
					h2.title-2 Команда врачей
					.text-23
						p Специализация врачей и их подход к работе
				.section-header__button
					a(href="#").button Все врачи
		.team-tabs
			.scroll-box
				.tabs-button
					//===== tab block =====
					.tabs-button__item
						.tabs-button__img.img-round
							img(src="./img/doctor.jpg", width="196" alt="img")
						.tabs-button__text
							h4
								span Крохалев
								span Никита Владимирович
							p врач - ортопед, ортезист
					//===== tab block =====
					.tabs-button__item
						.tabs-button__img.img-round
							img(src="./img/doctor.jpg", width="196" alt="img")
						.tabs-button__text
							h4
								span Крохалев
								span Никита Владимирович
							p врач - ортопед, ортезист
					//===== tab block =====
					.tabs-button__item
						.tabs-button__img.img-round
							img(src="./img/doctor.jpg", width="196" alt="img")
						.tabs-button__text
							h4
								span Крохалев
								span Никита Владимирович
							p врач - ортопед, ортезист
					//===== tab block =====
					.tabs-button__item
						.tabs-button__img.img-round
							img(src="./img/doctor.jpg", width="196" alt="img")
						.tabs-button__text
							h4
								span Крохалев
								span Никита Владимирович
							p врач - ортопед, ортезист

			.tabs-content