section.timeline
	.container
		.section-header__title.text-center
			h2.title-2 Этапы изготовления ортопедического изделия
		.timeline-content
			.timeline-item
				span 1
				h5 модель туловища
				p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
			.timeline-item
				span 2
				h5 модель туловища
				p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.
			.timeline-item
				span 3
				h5 модель туловища
				p Прием состоит из диагностики, изучения анализов и снимков, рекомендаций доктора и составления плана лечения и реабилитации.