//==============videoSlider==============
section.videoSlider
	.container
		.section-header
			.section-header__title.text-center
				h2.title-2 Истории наших пациентов
				p Этапы создания изделия
		// Slider main container
		.swiper-container
			.video-play
				span
			.swiper-wrapper
				// Slides
				.swiper-slide
					.video
						video( width="100%" height="100%" controls='controls' )
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src='video/video.webm' type='video/webm; codecs="vp8, vorbis"')
							source(src='video/video.ogv' type='video/ogg; codecs="theora, vorbis"')
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						
						
				.swiper-slide
					.video
						video( width="100%" height="100%" controls='controls' )
							source(src='video/video.ogv' type='video/ogg; codecs="theora, vorbis"')
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src='video/video.webm' type='video/webm; codecs="vp8, vorbis"')
						
				.swiper-slide 
					.video
						video( width="100%" height="100%" controls='controls' )
							source(src='video/video.ogv' type='video/ogg; codecs="theora, vorbis"')
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src='video/video.webm' type='video/webm; codecs="vp8, vorbis"')
						
				.swiper-slide
					.video
						video( width="100%" height="100%" controls='controls' )
							source(src='video/video.ogv' type='video/ogg; codecs="theora, vorbis"')
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src='video/video.webm' type='video/webm; codecs="vp8, vorbis"')
						
				.swiper-slide
					.video
						video( width="100%" height="100%" controls='controls' )
							source(src='video/video.ogv' type='video/ogg; codecs="theora, vorbis"')
							source(src='video/video.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src='video/video.webm' type='video/webm; codecs="vp8, vorbis"')
							
			//========navigation buttons======
			
			.swiper-button-prev.custom-arrow
			.swiper-button-next.custom-arrow