section.working-regime
	.container
		.section-header__title.text-center
			h2.title-2 График приема главного врача
			.text-23
				p #[span Клиника ОРТО-МЕД на&nbsp;Воровского] #[a(href="#!") Выбрать&nbsp;другую]
		
		//========Режим работы =======
		.working-regime-content
			.colorBg-block.d-flex
				.colorBg-block-left
					.colorBg-block-left__top
						p Крохалев Владимир Юрьевич 
						p врач-ортопед, ортезист
					.colorBg-block-left__bottom
						p Небольшая биография врача, описание опыта работы, достижения и т.д.
				.colorBg-block-right
					.colorBg-block-time
						p Пн — Ср, 14:00 — 16:00 
						p Чт — Пт, 11:00 — 15:00
					.colorBg-block-btn
						button.button.button-slim--orange Записаться на приём
				.colorBg-block-img
					img(src="./img/workImg.png", width="228" alt="alt")