section.working-regime
	.container
		.section-header__title.text-center
			h2.title-2 График приема главного врача
			.text-23
				p #[span Клиника ОРТО-МЕД на Воровского] #[a(href="#!") Выбрать другую]
		.working-regime-content.d-flex
			.working-regime-left
				.doctor-name
					p Крохалев Владимир Юрьевич 
					p врач-ортопед, ортезист
				.doctor-info
					p Небольшая биография врача, описание опыта работы, достижения и т.д.
			.working-regime-right
				.working-time
					p Пн — Ср, 14:00 — 16:00 
					p Чт — Пт, 11:00 — 15:00
				.working-btn
					button.button.button-slim--orange Записаться на приём
			.working-regime-img
				img(src="./img/workImg.png", width="228" alt="alt")