* {
	box-sizing: border-box;
  }
 
  html {
	scroll-behavior: smooth;
  }
  
  #overlay{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 9;
	  background-color: rgba(255,255,255, .57);
	  backdrop-filter: blur(5px);
	  display: none;
	  &.active{display: block;}
  }
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: $blue;
	font-family: $ff;
	font-size: 19px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
  }
  .noscroll {
	overflow: hidden;
	padding-right: 18px;
	@media (max-width: 1199px) {
	padding-right: 0;
	}
  }

  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,h5,
  p {
	padding: 0;
	margin: 0;
  }
  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
  
  section {
	padding-top: 42px;
	padding-bottom: 42px;
	@media(max-width:767px){
		padding-top: 24px;
		padding-bottom: 24px;
	}
  }
  section + section{padding-top: 0;}
  input[type="radio"], input[type='checkbox'], input[type="submit"]{
	  appearance: none;
	  -moz-appearance: none;
  -webkit-appearance: none;
  }
.container{
	width: 1232px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media(max-width: 1279px){
		width: 1170px;
	}
	@media(max-width: 1199px) {
		width: 990px;
	}
	@media(max-width: 991px) {
		width: 760px;
	}
	@media(max-width: 767px) {
		width: 540px;
	}
	@media(max-width: 574px) {
		width: 100%;
		max-width:430px;
	}
}
.pb-50{
	padding-bottom: 50px;
}
.d-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.scroll-box{
	overflow:hidden;
	overflow-y: auto;

	scrollbar-color: #FFA046 #C6DADB;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 5px;
		height: 15px;
		background-color: #C6DADB;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #FFA046;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
		background-color: #C6DADB;
	}
}
.scroll-box--hz{
	overflow:hidden;
	overflow-x: auto;

	scrollbar-color: #FFA046 #C6DADB;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 15px;
		height: 5px;
		background-color: #C6DADB;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #FFA046;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
		background-color: #C6DADB;
	}
}
.img-round{
position: relative;
width: 100%;
// height: 425px;
border-radius:50%;
padding: 5px;
overflow:hidden;
img{
	border-radius:50%;
	position: relative;
	z-index: 2;
}
}
.img-round:after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, $blue, rgba(255, 160, 70, 1));
	
	
}
.pt-50{padding-top: 50px;}
/*============= TYPOGRAPHY =============*/
.title-1{
	font-weight: 800;
	font-size: 53px;
	line-height: 1;
	color: $blue;
	@media(max-width:1199px) {
		font-size: 48px;
	}
	@media(max-width:991px){
		font-size: 31px;
	}
}
.title-2 {
	
	font-weight: 800;
	font-size: 35px;
	line-height: 42px;
	color: $blue;

	@media(max-width:991px) {
		font-size: 27px;
		line-height: 1.15;
	}
}
.text-24 p,
.text-24 h2,
.text-24 h3,
.text-24 h4,
.text-24 h5,
.text-23 p {
	font-size: 24px;
	line-height: 1.33;
	@media(max-width:767px){
		font-size: 19px;
		line-height: 23px;
	}
}
.text-18,
.text-18 p,
.text-18 span {
	font-size: 18px;
	line-height: 1.33;
	color: #06323E;
}
.text-17 p{
font-size: 17px;
line-height: 20px;
}
.text-28{
	font-weight: bold;
	font-size: 28px;
	line-height: 1.22;
	color: #06323E;
	margin-bottom: 24px;
	@media (max-width: 991px) {
		font-size: 23px;
		line-height: 27px;
	}
}
.text-title,
.text-title p,
.text-title h2,
.text-title h3,
.text-title h4{
	font-weight: 500;
	font-size: 32px;
	line-height: 0.933;	
	color: #000000;
}
.title-bold p,
.title-bold h2,
.title-bold h3,
.title-bold h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.text-bold p {
	font-weight: bold;
}

.text-demi p {
	font-weight: 600;
}

.dashed-link {
	font-size: 18px;
	line-height: 24px;
	color: #06323E;
	padding-top: 6px;
	border-bottom: 2px dashed #06323E;
	width: fit-content;
	font-weight: 600;
	cursor:pointer;
}
.section-header{margin-bottom: 20px;}
.section-header__title{
	margin-bottom: 20px;
	.title-2{
		margin-bottom: 24px;
	}
	@media(max-width:599px){
		text-align: center;
		max-width:335px;
		margin-left: auto;
		margin-right: auto;
	}
}
.section-header .section-header__title .title-2{
margin-bottom: 6px;
}
.red-text {
	font-weight: 500;
	font-size: 19px;
	line-height: 113%;
	width: fit-content;
	color: #E65100;
	position: relative;
	display: inline-block;
	&:after{
		content: '';
		left: 0;
		bottom: -1px;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #E65100;
	}
	@media (max-width: 767px) {
	font-size: 16px;
	}
}
.section-header__button{
	@media(max-width:599px) {
		display: none;
	}
}
.section-header__button--mobile{
	display: none;
	@media(max-width:599px) {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		.button{width: 100%;}
		
	}
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.scroll-block{
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: $orange #C6DADB ;
	padding-right: 10px;
	height: 200px;
	&::-webkit-scrollbar-track{
		background-color: #C6DADB;
	}
	&::-webkit-scrollbar{
		width: 4px;
		height: 20px;
	}
	&::-webkit-scrollbar-thumb{
		background-color: $orange ;
		border-radius: 5px;
	}
}
.center-button {
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top: 40px;
	
	.button{min-width: 238px;}
	@media (max-width: 767px) {
	.button {
		width: 100%;
		min-width: 100%;
	}
	}
}