.button{
	color: #000000;
	background-color: #fff;
	font-size: 19px;
	height: 56px;
	line-height: 52px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 35px;
	text-decoration: none;
	font-family: inherit;
	cursor:pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	border: 2px solid #00859C;
	min-width: 176px;
	padding-left: 20px;
	padding-right: 20px;
}
.button-small{
	height: 52px;
	line-height: 48px;
}
.button-small--orange {
	height: 52px;
	line-height: 48px;
	background-color: $orange;
	border-color: $orange;
	color: #ffffff;
}
.button-big--dark {
	height: 62px;
	line-height: 58px;
	padding-left: 52px;
	padding-right: 52px;
	font-size: 22px;
	font-weight: 600;
	color: #F8F8F9;
	background-color: $mint;
	border-color: $mint;
	color: #ffffff;
}
.button-slim--orange{
	height: 46px;
	line-height: 42px;
	background-color: $orange;
	border-color: $orange;
	color: #fff;
	font-weight: 500;
	font-size: 19px;
}