.light-form{
	.form-group{
		margin-bottom: 16px;
		input{
			display: block;
			width: 100%;
			height: 44px;
			border: none;
			border-bottom: 1px solid #5E5E5E;
			font-size: 22px;
			color: #626D6D;
			font-family: $ff;
			background-color: transparent;
			&::placeholder{
				font-size: 22px;
				color: #626D6D;
				font-family: $ff;
			}
		}
	}
	.form-button{
		margin-top: 40px;
		display: flex;
		justify-content: center;
		
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}
	.info-text{
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		text-decoration-line: underline;
		color: #000000;
		text-align: center;
		display: block;
		padding-top: 10px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

.contact-form{
	.form-group{
		input{
			font-family: inherit;
			display: block;
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #5E5E5E;
			border-radius: 32px;
			font-size: 21px;
			color: #9D9898;
			padding-left: 30px;
			padding-right: 20px;
			height: 59px;
		}
	}
	.form-group{margin-bottom: 33px;}
	.form-btn{
		.button{
			width: 100%;
		}
	}
}

.border-field{
	height: 40px;
	width: 100%;
	display: block;
	background: #F8F8F8;
	border: 2px solid #00859C;
	box-sizing: border-box;
	border-radius: 35px;
	font-weight: 600;
	font-size: 14px;	
	color: #5E5E5E;
	padding-left: 15px;
	padding-right: 45px;
}
.search-form-mobile{
	margin-top: 20px;
	position: relative;
	max-width:280px;
	.form-btn{
		position: absolute;
		z-index: 5;
		top: 0;
		bottom: 0;
		right: 15px;
		display: flex;
		justify-content: center;
		align-items:center;
		width: 40px;
		height: 40px;
		button{
		height: 27px;	
		width: 22px;
		background-image: url('../img/icons/search.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		}
		&:hover{opacity: .5;}
		
	}
}
.header-form {
	position: absolute;
	top: 7px;
	right: 0;
	width: 0;
	left:auto;
	overflow:hidden;
	opacity: 0;
	transition: .3s;
	&.active{
		width: 1205px;
		opacity: 1;
		@media (max-width: 1199px) {
			width: 960px;
		}
	}
}
.header-search-form{
	position: relative;
	.close-search-form{
		position: absolute;
		top: 0;
		left: 8px;
		bottom: 0;
		width: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		cursor:pointer;
		color:rgba(94, 94, 94, .7);
		&:hover{
			color:$mint;
		}
	}
	.border-field{
		padding-left: 60px;
	}
	.form-btn{
		position: absolute;
		top: 7px;
		right: 15px;
	}
	.search-form-btn{
		width: 30px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url(../img/icons/search.png);
		margin-left: 17px;
	}
}
/*=========custom checkbox=========*/
.checkbox-item{
	label{
		display: flex;
		align-items: flex-end;
		position: relative;
		font-weight: 300;
		font-size: 19px;
		
		color: #5E5E5E;
		cursor:pointer;
		input{
			width: 0.01px;
			height: 0.01px;
			position:adsolute;
			top: 0;
			left: 0;
			
		}
		.fake-checkbox{
			position: relative;
			width: 30px;
			height: 30px;
			border: 1px solid #00859C;
			flex-shrink: 0;
			background-color: #fff;
			display: block;
			overflow: hidden;
			margin-right: 10px;
			&:after{
				content: '\2714';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				z-index: 2;
				color: $mint;
				font-size: 24px;
				transition: .2s;
			}
		}
		input:checked +.fake-checkbox:after {
			animation-name: zoom;
			animation-fill-mode: forwards;
			animation-duration: .3s;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
@keyframes zoom{
	0%{
		transform: translate(-50%, -50%) scale(0);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.35);
	}
	100% {
		transform: translate(-50%, -50%) scale(.9);
	}
}