.header-dropdown{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	transform: translateY(100%);
}
.header-dropdown__block{
	max-height: 0;
	height: 0;
	overflow: hidden;
	transition:.5s;
}
.header-dropdown__block.active{
	height: auto;
	max-height: 470px;
}

.large-menu{
	background-color: $mint;
	padding-bottom: 26px;
	padding-top: 26px;
	
}
.large-menu-content{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 450px;
	grid-auto-rows: max-content;
	row-gap: 15px;
	column-gap: 15px;
	
}
.large-menu-content{
	// padding-bottom: 26px;
	padding-right: 15px;
	&:nth-last-child(-n+3){
		padding-bottom: 0;
	}
	
	h3{
		font-weight: 500;
		font-size: 24px;
		line-height: 1.3;
		color: #37F1F4;
		margin-bottom: 15px;
		@media(max-width:1199px){
			font-size: 18px;
		}
	}
	a{
		font-weight: 600;
		font-size: 19px;
		line-height: 1.8;
		color: #ffffff ;
		padding-top: 6px;
		padding-bottom: 6px;
		@media(max-width:1199px) {
			font-size: 16px;
		}
	}
}
