extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('О сети клиник «Орто&#8209;Мед»', 'Безоперационный метод лечения сколиоза с подтвержденной эффективностью', 'personal')
	include ../sections/_blockquote
	include ../sections/_history
	include ../sections/_partners
	include ../sections/_sertificate
	
	
	include ../sections/_feedback
	include ../sections/_footer
	
block variables
	-var title = "Персональная страница врача";