extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('Безоперационное лечение позвоночника', 'Безоперационный метод лечения сколиоза с подтвержденной эффективностью', 'article')
	include ../sections/_article-text
	include ../sections/_direction
	include ../sections/_social
	include ../sections/_discount
	include ../sections/_library
	include ../sections/_pink-social
	include ../sections/_feedback
	include ../sections/_footer
	
block variables
	-var title = "Главная";
