extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('Клиника ортопедического здоровья', 'Внимательная медицина с подтвержденной эффективностью', 'main')
	include ../sections/_direction
	include ../sections/_discount
	include ../sections/_social
	include ../sections/_team
	include ../sections/_faq
	include ../sections/_accordeon
	include ../sections/_benefits
	
block variables
	-var title = "Главная";
