extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('Статьи о здоровье', 'Безоперационный метод лечения сколиоза с подтвержденной эффективностью', 'image')
	include ../sections/_result-cards-full
	
	include ../sections/_pink-social
	include ../sections/_feedback
	include ../sections/_footer
	
block variables
	-var title = "Персональная страница врача";