extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('Адреса клиник компании «Орто&#8209;Мед»', 'Безоперационный метод лечения сколиоза с подтвержденной эффективностью', 'offices')
	include ../sections/_offices-content
	include ../sections/_social
	
	//- include ../sections/_pink-social
	//- include ../sections/_feedback
	include ../sections/_footer
	
block variables
	-var title = "Персональная страница врача";