extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	include ../sections/_short-header
	include ../sections/_one-article-text
	
	include ../sections/_pink-social
	include ../sections/_feedback
	include ../sections/_footer
	
block variables
	-var title = "Содержание статьи подробно";