extends ../layouts/layout.pug

block content
	include ../sections/_mobmenu.pug
	include ../sections/_header.pug
	//============= FIRST SCREEN ======================
	+main-banner('Корсет Шено', 'Безоперационный метод лечения сколиоза с подтвержденной эффективностью', 'service')
	include ../sections/_usluga-text
	include ../sections/_purpose
	include ../sections/_faq
	include ../sections/_product-photo
	include ../sections/_social
	include ../sections/_timeline
	//- include ../sections/_video-slider
	include ../sections/_about
	include ../sections/_team
	include ../sections/_benefits
	include ../sections/_price-short
	include ../sections/_action-cards
	include ../sections/_library	
	include ../sections/_pink-social
	include ../sections/_feedback
	include ../sections/_map
	include ../sections/_footer
	
block variables
	-var title = "Услуга";